.password-reset__wrapper{
    width: 100%;
    height:800px;
    background: linear-gradient(rgba(4,9,30,.9), rgba(4,9,30,.9)), url('/dist/images/property.jpg');
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    .reset-form__wrapper{
        margin:0 auto;
        width:30%;
        padding-top:10rem;
        text-align: center;
        .reset-form{
            background: #fafafa;
            padding:1rem 2rem;
            font-family: 'Varela Round';
            h1{
                margin-bottom: 4rem;
                color:$primary-color;
            }
        }
        input[type=email]{
            width:100%;
            height:2.7rem;
            margin-bottom: 0.5rem;
            padding-left: 1rem;
            font-family: "Varela Round";
            border:1px solid #636161;
            &::placeholder{
                font-family: "Varela Round";
            }
            &:focus{
                box-shadow: none;
                outline: none;
            }
        }
        .pass-reset-btn{
            width:100%;
            color:#fff;
            background: $primary-color;
            padding:.8rem 0;
            outline: none;
            border:none;
            cursor: pointer;
            margin-bottom:1.5rem;
            font-weight: normal;
            font-family: 'Varela Round';
            font-size:1rem;
            box-shadow: none;
            &:hover{
                background: $secondary-color;
                transition: all ease-in-out .5s;
            }
        }
    }
}

//LOGIN VERIFICATION OR ERROR MESSAGE STYLES
.danger-alert{
    width:100%;
    background: red;
    color:#fff;
    padding: .7rem 0;
    margin-bottom: 1rem;
}